@theme {
  --font-poppins: 'Poppins', sans-serif;

  --color-gray-50: #f7f7f7;
  --color-gray-100: #e3e3e3;
  --color-gray-200: #c2c2c2;
  --color-gray-300: #b5b5b5;
  --color-gray-400: #bdbdbd;
  --color-gray-500: #797979;
  --color-gray-600: #515151;
  --color-gray-700: #4a4a4a;
  --color-gray-800: #383838;
  --color-gray-900: #c5b8b8;
  --color-gray-950: #1a1a1a;
}
